.interests__container {
	background: var(--color-bg-variant);
    padding: 3rem 3rem;
        gap: 3rem;
	border-radius: 4rem;
	border: 1px solid transparent;
	border-color: var(--color-primary-variant);
    max-width: 70%;
    }
    
.interests__container>div {
    padding: 0.5rem;
}

.interests__list {
	display: grid;
    grid-template-columns: 1% 99%;
	gap: 1.5rem;
}

.space {
    height: 80vh;
    padding: 3rem;
    text-align: center;
}
/* ==================== Dramas ===================== */
.dramas {
	margin-top: 1.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}