.interests__container {
	background: var(--color-bg-variant);
    padding: 2.5rem 2.5rem;
        gap: 2rem;
	border-radius: 4rem;
	border: 1px solid transparent;
	border-color: var(--color-primary-variant);
    max-width: 90%;
        justify-content: space-between;
    }
    
    .interests__container>div {
        padding: 0.5rem;
}

.interests__list {
	display: grid;
	grid-template-columns: 5% 95%;
	gap: 1.5rem;
}

/* ==================== Dramas ===================== */
.dramas {
	margin-top: 1.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}