.experience__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
	max-width: 60%;
}

.experience__container > div {
	background: var(--color-bg-variant);
	padding: 2.4rem 2.4rem;
	border-radius: 4rem;
	border: 1px solid transparent;
	border-color: var(--color-primary-variant);
}

.experience__container > div h4 {
	text-align: center;
	margin-bottom: 0.2rem;
	color: var(--color-primary-variant);
}

.experience__container > div h2 {
	text-align: center;
	margin-bottom: 0.2rem;
	color: var(--color-white);
}

.experience__container > div h5 {
	text-align: center;
	margin-bottom: 0.5rem;
	color: var(--color-light);
}

.experience__content {
	position: relative;
	overflow: hidden;
}

.experience__content > .pictures {
	position: absolute;
	inset: 0;
	width: auto;
	max-height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.experience__content > .content,
.experience__content > .pictures {
	transform: 300ms ease-in-out;
}

.experience__content > .pictures.fade {
	opacity: 0;
}

.experience__content:hover > .pictures.fade {
	opacity: 1;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ==================== */
/* on tablets */
@media screen and (max-width: 1024px) {
	.experience__container {
		grid-template-columns: 1fr;
		gap: 1rem;
		height: 85vh;
	}

	.experience__container > div {
		width: 80%;
		padding: 2rem;
		margin: 0 auto;
	}
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ==================== */
/* on phones */
@media screen and (max-width: 600px) {
	.experience__container {
		gap: 1rem;
	}
}