header {
	height: 100vh;
	padding-top: 7rem;
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

/* ==================== CTA ===================== */
.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* ==================== SOCIALS ===================== */
.header__socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
	position: fixed;
	left: 5rem;
	bottom: 3rem;
	z-index: 2;
}

/* ==================== DP ===================== */
.me {
	border: 7px solid #ddd;
	border-radius: 2px;
	width: 24rem;
	height: auto;
	max-width: 50%;
	position: relative;
	left: calc(50% - 12rem);
	margin-top: 2rem;
	overflow: hidden;
}

.me:hover {
  box-shadow: 0 0 3px 5px var(--color-bg-variant);
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ==================== */
/* on tablets */
@media screen and (max-width: 1024px) {
	header {
		height: 68vh;
	}

	.me {
		display: none;
	}
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ==================== */
/* on phones */
@media screen and (max-width: 600px) {
	header {
		height: 100vh;
	}

	.me {
		display: none;
	}
}
